nav{
    
    background: rgb(218,37,28);
    background: linear-gradient(270deg, rgba(218,37,28,1) 21%, rgba(31,26,24,1) 38%, rgba(255,255,255,1) 81%);
}

.nav-link{
    color: white;
}
ul{
    align-items: flex-end;
}
.navbar-light .navbar-nav .nav-link{
    color: white;
}
.container-fluid img{
    width: 10%;
}
.container{
    margin-top: 30px;
}
.btn{
    margin-right: 30px;
}
.botonRojo{
    background-color: #DA251C;
    color: white;
}
.botonBlanco{
    background-color: white;
    border: solid black;
    
}
.botonNegro{
    background-color: #1F1A18;
    color: white;
}
.border-panel-padding{
    padding: 10px;
}
.row{
    margin: 20px;
}